{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card">
            <h2>Title: <a href="#" class="text-decoration-none">{{book.title}}</a></h2>
            <p>Author: {{book.author}}</P>
            <p>Price: ${{book.price}}</P>
        </div>
        <div>
            <h3>Reviews</h3>
            <ul>
            {% for review in book.reviews.all %}
                <li>{{ review.review }} ({{review.author}}) </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}